<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <form action="/submit" method="POST">
      <input type="text" name="todoItem" placeholder="Write your tasks here" />
      <input type="submit" value="submit" />
    </form>

    <div>
      <h5><%= locals.todoItemOutput %></h5>
    </div>
  </body>
</html>
